/*[ COMPOSANT BOUTON ]*/
/* ------------------------------------------------------------ */

.btn {
    padding: 14px 28px;
    font-family: 'Exo2', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: white;
    background-color: var(--vert);
    border: none;
    border-radius: 50px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin: 20px;
}
.btn:hover {
    background-color: var(--vertFonce);
}