/*[ COMPOSANT FOOTER ]*/
/* ------------------------------------------------------------ */

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #22201E;
    color: white;
    text-align: center;
    width: 100%;
    padding: 30px;
    /*     padding: 40px 20px; */
}

footer .logo {
    width: 150px;
    margin: 50px 0;

}

.navigation_footer {
    margin-bottom: 30px;
}

.navigation_footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

.navigation_footer ul li a {
    text-decoration: none;
    color: #C87C6B;
    font-weight: bold;
    font-size: 16px;
}

.horaire {
    margin-top: 30px;
}

.horaire,
.contact {
    margin-bottom: 30px;
}

.horaire h3,
.contact h3 {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.horaire p,
.contact p {
    font-size: 14px;
    line-height: 1.6;
    padding-bottom: 10px;
}