/*[ COMPOSANT HEADER ]*/
/* ------------------------------------------------------------ */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: hsla(0, 0%, 100%, 0.5); 
}

header .logo {
    width: 150px;
    margin: 20px;
}

.navigation {
    display: none;
}

nav.menu ul {
    display: flex;
    gap: 30px; 
    list-style: none;
    margin: 0;
    padding: 0;
}

.burger {
    width: 35px;
    margin-right: 20px;
}

.video {
    height: 500px;
    background-color: var(--rose);
}