/*[ COMPOSANT INFOLETTRE ]*/
/* ------------------------------------------------------------ */

.infolettre {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--orange);
    padding: 20px;
    gap: 10px;
}

.infolettre h3 {
    color: white;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
}

.infolettre p {
    font-size: 14px;
    color: white;
    line-height: 1.5;
    text-align: center;
}

.infolettre-form {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 50px;
    margin: 20px;
    box-shadow: inset 3px 3px 6px rgba(0, 0, 0, 0.2);
    width: 100%;
}

.infolettre-form input {
    flex: 1;
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 50px;
    font-size: 14px;
}